<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
	<header>
		<h1>サンプルタスク</h1>
	</header>
	<main>
		<div class="create-box">
		<a class="create-user">ユーザー新規作成</a>
		<form action ="/users/add" method="post">
			<span th:text="${message}" style="color:red"></span><br>
			<input type="text" name="name" placeholder="名前"><br>
			<input type="text" name="email" placeholder="メールアドレス"><br>
			<input type="password" name="password" placeholder="パスワード"><br>
			<input type="password" name="password_comfirm" placeholder="パスワード（確認）"><br>
			<button>新規作成</button>
		</form>
		<a href="/login">ログイン画面へ</a>
		</div>
	</main>
</body>
</html>