<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
	<header>
		<h1>サンプルタスク</h1>
	</header>
	<main>
		<div class="login-box">
		<a class="login">ログイン</a>
		<form action = "/login" method="post">
			<span th:text="${message}" style="color:red"></span><br>
			<input type="text" name="email" placeholder="メール"><br>
			<input type="password" name="password" placeholder="パスワード"><br>
			<button>ログイン</button>
		</form>
		<a href="/users/add">ユーザ新規作成</a>
		</div>

	</main>
</body>
</html>